body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.cat_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cat_table th,
.cat_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cat_table th {
    background-color: #f2f2f2;
}

.list_td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-row {
    animation: fadeIn 0.5s ease-in-out;
}