body {
    margin: 0;
}

.cat_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product_card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.product_card:hover {
    transform: scale(1.05);
}

.product_card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product_card p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-row {
    animation: fadeIn 0.5s ease-in-out;
}